
<div id="tablero">

    <div class="card-grid-space">
        <div id="tarjeta" class="card" onclick="nextCard()">
            <div class="texto">
                <p id="texto">F**K the GAME</p>
            </div>
        </div>
    </div>

</div>